<div class="text-center">
  <div class="card-homepage">
    <br>
    <p class="card-homepage-item hashtags">
      <h1 class="ml1">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span class="letters logo huge text-shadow">L!ghtapp</span>
          <span class="line line2"></span>
        </span>
     </h1>
    </p>
    <p class="card-homepage-item ">
      <span class="ml11">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span class="letters hashtags">#Intuitive #Collaborative #Minimalist</span>
        </span>
      </span>
    </p>
    <p class="card-homepage-item text-shadow">
      With our objectives oriented app we help you to follow the progress and we
      facilitate cooperation with your teams.
    </p>
    <p class="card-homepage-item text-shadow">
      Adapte to change, innovate, move forward ! We handle the rest for
      Y<i class="far fa-heart red puslar"></i>U
    </p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="app-infos">
    <div class="card-how-it-works text-shadow white-background">
      <br>
      <p class="card-how-it-works-item hashtags"><strong>How it works</strong> </p>
      <p class="card-how-it-works-item">
        Start by defining an <i class="fas fa-hands-helping"> Objective</i>,
        then define one or many <i class="fas fa-tasks"> Action plans</i> and <i class="fas fa-thumbtack"> Tasks</i>.
      </p>
      <p class="card-how-it-works-item">
        Add some <i class="fas fa-user">+ Partners</i>, some <i class="fas fa-comments">+ Topics</i>
        and that's it ! Let's the magic happend !
      </p>
      <br>
      <p class="card-last-features-item hashtags "><strong>Last Features</strong> </p>
      <p class="card-last-features-item"> Your tasks are now better organized and it is even easier to identify priorities! <br>
         You don't have to do anything, we've taken care of everything.</p>
        <p class="card-new-features-item hashtags"><strong>New Feature</strong> </p>
        <p class="card-new-features-item"> It's nowwww possible to add a small chat to your action plans. How cool is that ? </p>
      </div>
    </div>
  </div>
<footer class="page-footer font-small stylish-color-dark pt-4">
  <div class="container text-center text-md-left">
  <hr class="red-line" id="fix-red-line">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula nibh in felis pharetra, at scelerisque lacus pharetra.</p>
        <br>
      </div>
      <div class="col-md-2 mx-auto">
      </div>
      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>
        <ul class="list-unstyled">
          <li>
           <a href="#!"><p><i class="fas fa-envelope-square"></i> info@mysite.com</p></a>
          </li>
          <li>
           <a href="#!"><p><i class="fas fa-map-marker-alt"></i> Brussels, Belgium </p></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="list-unstyled list-inline text-center py-2">
  <hr class="red-line">
    <li class="list-inline-item">
      <h5 class="mb-1">Its 100% free !</h5>
    </li>
    <li class="list-inline-item">
      <%= link_to " Sign up", new_user_registration_path, class: "fas fa-box-open btn-sign-up lighter" %>
    </li>
  </ul>
  <hr class="red-line">
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-github mx-1">
        <i class="fab fa-github"> </i>
      </a>
    </li>
  </ul>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> manakit.herokupp.com</a>
  </div>
</footer>
