.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.add_username {
  color: red;
  position: relative;
  right: 6px;
  top: 5px;
  font-size: 70%;
  font-style: italic;
  border-radius: 50%
}
